.round-image {
  border-radius: 50%;
  overflow: hidden;
}

.nomcantante{
margin-top: -5px;
font-size: 11.1px;
text-align: center;
}

.cardartista{
box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
height: 120px;
width: 120px;
border-radius: 50%;
}

.imagen-cantante{
height: 50px;
border-radius: 50%;
}
