.round-image {
    border-radius: 50%;
    overflow: hidden;
  }

.nomcantante{
  margin-top: -5px;
  font-size: 11.1px;
  text-align: center;
  color: #000;
  font-family: "Dela Gothic One", Sans-serif;
  font-weight: bold;
}

.cardartista{
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 10px 30px 20px rgba(0, 0, 0, 2);
  height: 120px;
  width: 120px;
  border-radius: 50%;
  border: solid 1px #000;
}

.imagen-cantante{
  height: 50px;
  border-radius: 50%;
}


//Footer
.footer-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

//Toolbar header
.toolbar{
  // background-color: #fff;
  // color:rgb(15, 3, 44);
  color: #fff;
  position: relative;
  animation: slideIn 1s;
}

@keyframes slideIn {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}

.title{
  //color:rgb(15, 3, 44);
  //color: #fff;
  font-size:28px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-weight: bolder;
  font-family: "Luminari, fantasy";/* Color del borde (para navegadores basados en WebKit) */
}

//Fondo animado
.bg {
  animation:slide 3s ease-in-out infinite alternate;
  background-image: linear-gradient(-60deg, rgb(0, 0, 0) 50%, rgb(221, 255, 0) 50%);
  bottom:0;
  left:-50%;
  opacity:.5;
  position:fixed;
  right:-50%;
  top:0;
  z-index:-1;
}

.bg2 {
  animation-direction:alternate-reverse;
  animation-duration:4s;
}

.bg3 {
  animation-duration:5s;
}

@keyframes slide {
  0% {
    transform:translateX(-25%);
  }
  100% {
    transform:translateX(25%);
  }
}

.col{
  align-items: center !important;
  margin: auto;
}

ion-footer {
  --ion-background-color: #000000;
  --ion-text-color: white;
}

ion-header {
  --ion-background-color: #000000;
  --ion-text-color: white;
}
