<ion-header>
  <ion-toolbar class="toolbar">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="ion-text-center title">
      Artista
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
<!-- Fondo animado -->
<div class="bg"></div>
<div class="bg bg2"></div>
<div class="bg bg3"></div>

  <ion-card-content style="display: flex; align-items: center;">
    <ion-thumbnail style="flex-basis: 33%;">
      <div style="width: 100%;">
        <img [src]="artista.image" alt="Foto del artista" style="width: 100%;">
      </div>
    </ion-thumbnail>
    <ion-card-header style="flex-basis: 67%;">
      <ion-card-title>{{cantante}}</ion-card-title>
    </ion-card-header>
  </ion-card-content>

    <!-- Lista para mostrar las 5 canciones más escuchadas -->
    <ion-list>
      <div class="bg"></div>
<div class="bg bg2"></div>
<div class="bg bg3"></div>
      <ion-item *ngFor="let track of topTracks; let i = index; let j = index">
        <ion-thumbnail slot="start">
          <img [src]="topYT[j]?.items[0].snippet.thumbnails.default.url" alt="Imagen track">
        </ion-thumbnail>
        <ion-label>
          <h2 class="titulo">{{ i + 1}}. {{ track.name }}</h2>
          <!-- <div *ngIf="previewUrl">
            <audio controls [src]="previewUrl[j]" style="width: 180px; height: 30px;"></audio>
          </div> -->
          <div *ngIf="!previewUrl">
            <p>No se encontró la canción con el título proporcionado.</p>
          </div>
          <div>
            <ion-button class="center" (click)="toggleVideo($event)" [id]="i">{{ visibilidad[i].visible }}</ion-button>
            <iframe class="my-100" *ngIf="visibilidad[i].visible==='Ocultar';" width="200" height="100" [src]="youtubeID[i]"
              frameborder="0" allowfullscreen></iframe>
          </div>
        </ion-label>
      </ion-item>
    </ion-list>
    <!-- <ion-button expand="full" (click)="toggleTrackList()">
      {{ showTrackList ? 'Ocultar canciones' : 'Mostrar canciones' }}
      <ion-icon slot="end" [name]="showTrackList ? 'chevron-up' : 'chevron-down'"></ion-icon>
    </ion-button> -->
</ion-content>
<!-- Footer -->
<ion-footer class="custom-footer">
  <ion-toolbar>
    <div class="footer-content">
      <p><small>© 2023 BoomArtists. All rights reserved.</small></p>
    </div>
  </ion-toolbar>
</ion-footer>
