.img_portada{
    border-radius: 10%;
}

.titulo{
    font-weight: bold;
}

.item{
  display: flex;
  flex-direction: column;
}

.cancion{
  display: flex;
  flex-direction: row;
}

//Footer
.footer-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

//Toolbar header
.toolbar{
  // background-color: #fff;
  // color:rgb(15, 3, 44);
  color: #fff;
  position: relative;
}

.title{
  //color:rgb(15, 3, 44);
  //color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
