<!-- Header -->
<ion-header>
  <ion-toolbar class="toolbar">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="ion-text-center title">
      BoomArtists 🎵
    </ion-title>
  </ion-toolbar>
</ion-header>

<!-- Contenido -->
<ion-content>
  <!-- Fondo animado -->
  <div class="bg"></div>
  <div class="bg bg2"></div>
  <div class="bg bg3"></div>

  <!-- Apartados -->
  <div class="divcartas">
  <ion-card class="ion-text-center cartas" (click)="redireccionar('/dia1')">
    <ion-card-header>
      <ion-card-title class="cardtit">DÍA 1</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p class="fecha"><small>17/08/2023</small></p>
    </ion-card-content>
  </ion-card>

  <ion-card class="ion-text-center cartas" (click)="redireccionar('/dia2')">
    <ion-card-header>
      <ion-card-title class="cardtit">DÍA 2</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p class="fecha"><small>18/08/2023</small></p>
    </ion-card-content>
  </ion-card>

  <ion-card  class="ion-text-center cartas" (click)="redireccionar('/dia3')">
    <ion-card-header>
      <ion-card-title class="cardtit">DÍA 3</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p class="fecha"><small>19/08/2023</small></p>
    </ion-card-content>
  </ion-card>
</div>
</ion-content>
<!-- Footer -->
<ion-footer class="custom-footer">
  <ion-toolbar>
    <div class="footer-content">
      <p><small>© 2023 BoomArtists. All rights reserved.</small></p>
    </div>
  </ion-toolbar>
</ion-footer>
